users:
  - default

disable_root: true
ssh_pwauth:   false

mount_default_fields: [~, ~, 'auto', 'defaults,nofail', '0', '2']
resize_rootfs_tmp: /dev
ssh_deletekeys:   0
ssh_genkeytypes:  ~
syslog_fix_perms: ~

cloud_init_modules:
 - migrator
 - bootcmd
 - write-files
 - growpart
 - resizefs
 - set_hostname
 - update_hostname
 - update_etc_hosts
 - rsyslog
 - users-groups
 - ssh

cloud_config_modules:
 - mounts
 - locale
 - set-passwords
 - yum-add-repo
 - package-update-upgrade-install
 - timezone
 - puppet
 - chef
 - salt-minion
 - mcollective
 - disable-ec2-metadata
 - runcmd

cloud_final_modules:
 - rightscale_userdata
 - scripts-per-once
 - scripts-per-boot
 - scripts-per-instance
 - scripts-user
 - ssh-authkey-fingerprints
 - keys-to-console
 - phone-home
 - final-message

system_info:
  default_user:
    name: ${VM_USER}
    gecos: Fedora Cloud User
    primary_group: ${VM_USER}
    groups: wheel, ${VM_USER}
    sudo: ["ALL=(ALL) NOPASSWD:ALL"]
    shell: /bin/bash
    ssh_import_id:
    lock_passwd: false
    ssh-authorized-keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC/0ttzKRwT5/8Lxq+cUhzDGCIEV31T2Z4lqLPMKMMHMBtcqChQdNrKACS3gydM3qXhxeZoERP9GhPwqiaoM5eLS28lyHGRo1uYjqpAmaGwyVgOCPA9ObVGWvkOj1ULB7+2dn96tS8v97KkHkM0JYCKSwTKg44OIznOeIny8jHrOIYmsy4R85eC/e47+3X33/kB8fbA5Br4YZi1E1LuwTx/dyf9yzq4kgIcQh0pV9pMClPHKCZ+bYKsAPPT7Q48SG3IfXt0OcZd7huVth/dyHkfasbwZwuZ+2C3BEyLFmTu8Cmn6sVr0wTggPoVb85bIx4Mk2bAk35m5ihw4XzW9KBFuhpEooxJRiqvkBQ/WjfPGD3NZqX7R6FM1aYFOWHbQCLgRQP51cMshaG/1mqT1/P/ssjJDN4EWvFKg3lI/iL7/1ETzUk9t0i1hCBSn+FewTafCJhCIMNn4QJqbpxYGRORrY6YMyXuVaJ0PjYm0gAPKtk3PtiiYAe7ACdcUz9am/M= dzintars@workstationAAAAB3NzaC1yc2EAAAADAQABAAABgQC/0ttzKRwT5/8Lxq+cUhzDGCIEV31T2Z4lqLPMKMMHMBtcqChQdNrKACS3gydM3qXhxeZoERP9GhPwqiaoM5eLS28lyHGRo1uYjqpAmaGwyVgOCPA9ObVGWvkOj1ULB7+2dn96tS8v97KkHkM0JYCKSwTKg44OIznOeIny8jHrOIYmsy4R85eC/e47+3X33/kB8fbA5Br4YZi1E1LuwTx/dyf9yzq4kgIcQh0pV9pMClPHKCZ+bYKsAPPT7Q48SG3IfXt0OcZd7huVth/dyHkfasbwZwuZ+2C3BEyLFmTu8Cmn6sVr0wTggPoVb85bIx4Mk2bAk35m5ihw4XzW9KBFuhpEooxJRiqvkBQ/WjfPGD3NZqX7R6FM1aYFOWHbQCLgRQP51cMshaG/1mqT1/P/ssjJDN4EWvFKg3lI/iL7/1ETzUk9t0i1hCBSn+FewTafCJhCIMNn4QJqbpxYGRORrY6YMyXuVaJ0PjYm0gAPKtk3PtiiYAe7ACdcUz9am/M= dzintars@workstation
  distro: fedora
  paths:
    cloud_dir: /var/lib/cloud
    templates_dir: /etc/cloud/templates
  ssh_svcname: sshd

# vim:syntax=yaml
